setup/__pycache__/
*.py[cod]

# Ignorar variables de entorno y certificados locales del entorno de desarrollo
.env
certs/
*-data/
elasticsearch/**/data/
kibana-data/
logstash-data/

# Logs y runtime
logs/
filebeat/logs/

.ruff_cache/